@import url('https://fonts.googleapis.com/css2? family= Shrikhand & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;500 & family= Shrikhand & display=swap');
body
{
    margin: 0px;
 }
header
{  
    
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 3px rgb(0 0 0 / 25%);
}